<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cat-breeds" href="/tabs/cat-breeds">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Übersicht</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Suche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Favoriten</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
